.bg-primary {
background-color: #A9B4C2 !important
}

.text-primary {
color: #3C7A89 !important
}

a {
color: #3C7A89
}

a:active, a:focus, a:hover {
color: #2E4756
}

.dev-icons .list-inline-item i:hover {
color: #2E4756
}

.social-icons a:hover {
background-color: #2E4756
}

.subheading-2 {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 2rem
}